<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="SecurityKey" value="SPApplication"/>
    <add key="ServerPath" value="D:\Softwares\"/>
    <add key="ReportPath" value="Reports\SKPI Reports\Data\"/>
    <add key="ImagePath" value="Reports\SKPI Reports\Images\"/>
    <add key="CapImagePath" value="Reports\SKPI Reports\CapImages\"/>
    <add key="ReportMail" value="info@shreekhodiyarpet.com"/>

    <!--<add name="ESSLConnectionSql" connectionString="Server=SKPI\SQLEXPRESS;Database=SmartOfficedb;User Id=sa;Password='biomax'" providerName="System.Data.SqlClient"/>
    <add name="ESSLConnectionSql" connectionString="Server=HRM\SQLEXPRESS;Database=etimetracklite1;User Id=sa;Password='sa@1234'" providerName="System.Data.SqlClient" />-->
    
    
    <!--<add key="RdlcPath" value="D:\BitBucketProjects\Shree Khodiyar Plastic Industries\SPApplication\SPApplication\Report\RDLCReport\"/>-->
  <add key="RdlcPath" value="D:\BitBucketProjects\Shree Khodiyar Plastic Industries\SPApplication\SPApplication\Report\RDLCReport\"/>
    <!--<add key="RdlcPath" value="D:\BitBucketProjects\Shree Khodiyar Plastic Industries\SPApplication\SPApplication\Report\RDLCReport\"/>-->
  </appSettings>
 
  <startup> 
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
</configuration>
