<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SecurityKey" value="SPApplication"/>
    <add key="ServerPath" value="D:\Softwares\" />
    <add key="ExcelFormat" value="Reports\Shree Rajput Enterprises Report\ExcelFormat\" />
    <add key="ReportPath" value="Reports\Shree Rajput Enterprises Report\Data\" />
    <add key="DBPath" value="Database\ShreeRajputEnterprisesDB.mdb" />
  </appSettings>

  <connectionStrings>
    <clear />
    <add name="MyCon" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\Softwares\Database\ShreeRajputEnterprisesDB.mdb" providerName="System.Data.OleDb" />
  </connectionStrings>
  
</configuration>
